<mat-card>  
     
    <form #tempForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <div> 
        <mat-form-field>
                
                <input matInput placeholder="Email" #Email="ngModel" [class.is-invalid]="Email.invalid && Email.touched" [(ngModel)] = "email" name = "email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" >
                <div *ngIf="Email.errors && (Email.invalid || Email.touched)">
                    <small class="text-danger" *ngIf="Email.errors.pattern">Please provide a valid email address</small>
                  </div>
        </mat-form-field>
        </div>
        
         <div> 
        <mat-form-field>
  
                <input matInput placeholder="Password" id="name" required minlength="8" [(ngModel)] = "password" name = "password" >
                  
        </mat-form-field>
    </div>
    <!-- <input type="email" #Email="ngModel" [class.is-invalid]="Email.invalid && Email.touched"  required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" 
      name="email" [(ngModel)]="email" />  
      <div *ngIf="Email.errors && (Email.invalid || Email.touched)">
            <small class="text-danger" *ngIf="Email.errors.pattern">Please provide a valid email address</small>
          </div>
        -->
    <div >
        <div class = "spacer">
            <button class="whitelink" mat-raised-button color="primary" [disabled]="!tempForm.form.valid">sign up</button>
            <button class="whitelink" routerLink="/login"  routerLinkActive="active" mat-raised-button color="primary" >Cancel</button>
            </div>
        </div>
      </div>
    </form>
    </mat-card>
  